.list-group
- UploadPdf.all.each do |pdf|
  .list-group-item.dropdown-submenu
    = link_to pdf.department, "#"
    %ul.dropdown-menu
      %li
        = link_to "View", pdf.file_path_url, :target => "_blank"
        - if can? :create, Notification
          %li.divider
            %li
              = link_to "Upload", pdf_upload_pdf_results_path(:pdf_id => pdf)
        

