= form_tag seat_allotments_path, :method => 'get' , :class => "form-inline" do
  .form-group.col-md-6
    = autocomplete_field_tag :search_term,
    params[:search_term],
    auto_search_autocomplete_course_name_path,
    :placeholder => "Department Name", :class => 'form-control'
  = submit_tag "Search", :name => nil, :class => "btn-primary btn"
  - if can? :create, SeatAllotment
    = raw allotments_btn_group
