.container7
  .row
    .col-md-6.col-md-offset-3
      .well.well-sm
        %form.form-horizontal{action: "", method: "post"}
          %fieldset
            %legend.text-center Notifications

            .form-group
              %label.col-md-3.control-label{for: "event"} Event
              .col-md-9
                %input#event.form-control{name: "event", placeholder: "Your Event", type: "text"}/

            .form-group
              %label.col-md-3.control-label{for: "description"} Description
              .col-md-9
                %textarea#description.form-control{name: "description", placeholder: "Please enter your event description here...", rows: "5"}

            .form-group
              .col-md-12.text-right
                %button.btn.btn-primary.btn-lg{type: "submit"} Submit
                = link_to 'Show', notifications_show_path
