%table.table.table.striped
  %thead
    %tr
      %th Events
      %th
%marquee{ direction: "up", height: "100%", loop: "true", onmouseout: "this.scrollAmount=1", onmouseover: "this.scrollAmount=0", scrollamount: "1", width: "100%"}
  %tbody
    - Notification.all.each do |notification|
      %tr
        %td= notification.event
        %td
          %img{src: "/assets/newi.gif",alt: "Don't Blink"}/
      %br  
      %br
