%p
  %strong Event:
  = @notification.event
%p
  %b Description:
  =  @notification.description
= link_to 'Edit', {:controller => "notifications", :action => "create",:id => notification.id  }, :method => "post"
= link_to 'Back', notifications_notification_path
