= image_tag "index.jpeg", :height => '75', :width => '80', :align => 'left', :class => "img-circle img-thumbnail"
= image_tag "reddy.jpeg", :height => '75', :width => '80', :align => 'right', :class => "img-circle img-thumbnail"
.container5
  %h3
    %center Raja Bahadur Venkat Rama Reddy Women's College
  %h5
    %center (Autonomous) Affiliated to Osmania University
  %h6
    %center Reaccrediated with grade 'A' by NAAC
