= image_tag "index.jpeg", :height => '35', :width => '50', :align => 'left', :class => "img-circle img-thumbnail"
= image_tag "reddy.jpeg", :height => '35', :width => '50', :align => 'right', :class => "img-circle img-thumbnail"
.container5
  %h3
    %center Raja Bahadur Venkat Rama Reddy Women's College - Controller Of Examination
