%br
%br
%br
%br

%header.navbar.navbar-fixed-top
  %nav.navbar.navbar-inverse{:role => ""}
    .navbar-inner
      .container10
        %center
          %font{:color => "white"}
            %h2 Controller of Examination
            = link_to "Sign out", destroy_user_session_path, :data => {:method => :delete}
            

