%h3.title-suggestion
  Suggestion Box
  %form
    %fieldset
      %input#name.input-block-level{name: "name", placeholder: "Name", type: "text"}/
      %br/
      %input#email.input-block-level{name: "email", placeholder: "Email", type: "text"}/
      %br/
      %textarea#description.input-block-level{name: "description", placeholder: "Description", rows: "3"}
      %br/
      %button.btn.btn-warning.pull-left{type: "submit"} Submit
      %br/
