%marquee{bgcolor: "#E0E0E0", direction: "up", height: "100%", loop: "true", onmouseout: "this.scrollAmount=2", onmouseover: "this.scrollAmount=0", scrollamount: "2", width: "100%"}
  %p
    %center
      %h3.liketext WELCOME TO RBVRR WOMEN'S COLLEGE
      %p
