-# .row
-#   .col-md-8
-#     = render "shared/photo_show"
.row
  .col-sm-3
    = render "pdf_results/show" 
  .col-sm-5
    .cloned-well
      = render "shared/welcome_note"
  .col-sm-4
    = render "notifications/show"
