-# .row
-#   .col-md-8
-#     = render "shared/photo_show"
.row
  .col-sm-3
    .well
      = render "feedback"
  .col-sm-5
    .well
      = render "shared/welcome_note"
  .col-sm-4
    = render "notifications"
    
-# %form.form-horizontal{role: "form"}
-#   #form-right.part
    
    
-#     .container.container6
      %marquee{bgcolor: "#E0E0E0", direction: "up", height: "100%", loop: "true", onmouseout: "this.scrollAmount=2", onmouseover: "this.scrollAmount=0", scrollamount: "2", width: "100%"}
        %p
          %center
            %h3.liketext WELCOME TO RBVRR WOMEN'S COLLEGE
          %p
            %h4 Raja Bahadur Venkata Rama Reddy Women’s College, Narayanguda, Hyderabad was established in 1954 by the Hyderabad Mahila Vidya Sangam,(HMVS), a non-profit education society with a vision to provide education to women especially to those coming from the rural areas. It is the second oldest college for women in Hyderabad city to be conferred with autonomous status by UGC.It is the first women’s college to introduce M.B.A. Programme under Osmania University jurisdiction. It is a partially aided college with a Campus Hostel.
