%br
  %br
    .container
      .row
        .col-md-6
          .panel.panel-primary
            .panel-heading
              %h3.panel-title
                Event
              %span.pull-right.clickable
                %i.glyphicon.glyphicon-minus
            .panel-body
              Finalsem
        .col-md-6
          .panel.panel-success
            .panel-heading
              %h3.panel-title
                Courses
              %span.pull-right.clickable
                %i.glyphicon.glyphicon-minus
            .panel-body
              Panel content
      .row
        .col-md-6
          .panel.panel-info
            .panel-heading
              %h3.panel-title
                Subjects
              %span.pull-right.clickable
                %i.glyphicon.glyphicon-minus
            .panel-body
              Panel content
        .col-md-6
          .panel.panel-warning
            .panel-heading
              %h3.panel-title
                AcademicYear
              %span.pull-right.clickable
                %i.glyphicon.glyphicon-minus
            .panel-body
              Panel content
      %h4