= render "search_by_course"
-#= render "students/search"
%br
%br
- if @course.present?
  = render :partial => "results", :locals => {:results => @results}
  
  = will_paginate @results, param_name: "page", previous_label: h("<"), next_label: h(">")
