.row
  = render "search"
.row
  .col-md-8
    %br
    %table.table.table-striped.table-bordered.table-condensed.table-hover
      %thead
        %th Document
      %tbody
        - @documents.each do |document|
          %tr
            %td
              = document.filename
              .pull-right
                = link_to raw("<span class='glyphicon glyphicon-save'></span>Download"), download_document_path(document), :class => "btn btn-success", :target => "_blank"

   






