%table.table.table-striped
  %thead
    %tr
      %th Heading
      %th Message
      %th 
      
  %tbody
    - @welcomes.each do |welcome|
      %tr
        %td= welcome.heading
        %td= welcome.message
        %td= link_to 'Edit', edit_welcome_path(welcome)
       
        %br/
        %br/
%center
 
  = link_to 'Cancel', root_path, :class => 'btn btn-primary'
          

