%table.table.table-striped
  %thead
    %tr
      %th Heading
      %th Message
      %th 
  %tbody
    - @welcomes.each do |welcome|
      %tr
        %td= welcome.heading
        %td= welcome.message
        %td= link_to raw("<span class= 'glyphicon glyphicon-edit'></span>"),edit_welcome_path(welcome), :class => "btn btn-warning btn-sm", :title => "Edit"
       
        %br/  
%center
 
  = link_to 'Cancel', root_path, :class => 'btn btn-primary'
          

