.tree.well
  %ul
    %li
      %span
        %i.icon-folder-open
        Parent
      %a{href: ""} Goes somewhere
      %ul
        %li
          %span
            %i.icon-minus-sign
            Child
          %a{href: ""} Goes somewhere
          %ul
            %li
              %span
                %i.icon-leaf
                Grand Child
              %a{href: ""} Goes somewhere
        %li
          %span
            %i.icon-minus-sign
            Child
          %a{href: ""} Goes somewhere
          %ul
            %li
              %span
                %i.icon-leaf
                Grand Child
              %a{href: ""} Goes somewhere
            %li
              %span
                %i.icon-minus-sign
                Grand Child
              %a{href: ""} Goes somewhere
              %ul
                %li
                  %span
                    %i.icon-minus-sign
                    Great Grand Child
                  %a{href: ""} Goes somewhere
                  %ul
                    %li
                      %span
                        %i.icon-leaf
                        Great great Grand Child
                      %a{href: ""} Goes somewhere
                    %li
                      %span
                        %i.icon-leaf
                        Great great Grand Child
                      %a{href: ""} Goes somewhere
                %li
                  %span
                    %i.icon-leaf
                    Great Grand Child
                  %a{href: ""} Goes somewhere
                %li
                  %span
                    %i.icon-leaf
                    Great Grand Child
                  %a{href: ""} Goes somewhere
            %li
              %span
                %i.icon-leaf
                Grand Child
              %a{href: ""} Goes somewhere
    %li
      %span
        %i.icon-folder-open
        Parent2
      %a{href: ""} Goes somewhere
      %ul
        %li
          %span
            %i.icon-leaf
            Child
          %a{href: ""} Goes somewhere
.tree
  %ul
    %li
      %span
        %i.icon-calendar
        2013, Week 2
      %ul
        %li
          %span.badge.badge-success
            %i.icon-minus-sign
            Monday, January 7: 8.00 hours
          %ul
            %li
              %a{href: ""}
                %span
                  %i.icon-time
                  8.00
                \– Changed CSS to accomodate...
        %li
          %span.badge.badge-success
            %i.icon-minus-sign
            Tuesday, January 8: 8.00 hours
          %ul
            %li
              %span
                %i.icon-time
                6.00
              \–
              %a{href: ""} Altered code...
            %li
              %span
                %i.icon-time
                2.00
              \–
              %a{href: ""} Simplified our approach to...
        %li
          %span.badge.badge-warning
            %i.icon-minus-sign
            Wednesday, January 9: 6.00 hours
          %ul
            %li
              %a{href: ""}
                %span
                  %i.icon-time
                  3.00
                \– Fixed bug caused by...
            %li
              %a{href: ""}
                %span
                  %i.icon-time
                  3.00
                \– Comitting latest code to Git...
        %li
          %span.badge.badge-important
            %i.icon-minus-sign
            Wednesday, January 9: 4.00 hours
          %ul
            %li
              %a{href: ""}
                %span
                  %i.icon-time
                  2.00
                \– Create component that...
    %li
      %span
        %i.icon-calendar
        2013, Week 3
      %ul
        %li
          %span.badge.badge-success
            %i.icon-minus-sign
            Monday, January 14: 8.00 hours
          %ul
            %li
              %span
                %i.icon-time
                7.75
              \–
              %a{href: ""} Writing documentation...
            %li
              %span
                %i.icon-time
                0.25
              \–
              %a{href: ""} Reverting code back to...