.table
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05)
  thead th
    border-bottom: 1px solid rgba(0, 0, 0, 0)
    background-color: #F5F5F5

body
  background-image: url('/assets/blue.jpg')
#content-container
  width: 100%
  min-height: 700px
  background: #FFF
  margin-top: -18px
  border-radius: 8px
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176)
  padding-top: 18px
  overflow: auto
.container5
  background-image: url('/assets/master.jpg')
  margin-top: -20px
  height: 100px
  
.brand
  font-family: verdana
  font-size: 18px

.menu-item
  font-family: verdana
  font-size: 16px
.list-group
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.176)

