= form_tag exams_path, :method => 'get' , :class => "form-inline" do
  .form-group.col-md-6
    = autocomplete_field_tag :search_term,
    '',
    auto_search_autocomplete_exam_dept_path,
    :placeholder => "Course Name", :class => 'form-control',
    :id_element => "#search"
    = hidden_field_tag :search, :id => "search"
  = submit_tag "Search", :name => nil, :class => "btn-primary btn"
  /= link_to "Add Event", new_calendar_path, :class => "btn-primary btn"